.podcast-sidebar img {
  width: 250px;
  border-radius: var(--border-radius-small);
}

.podcast-sidebar h3 {
  margin: 0;
}

.podcast-sidebar .body {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.podcast-sidebar .body .author a {
  color: var(--primary);
}

.podcast-sidebar .body,
.podcast-sidebar .footer {
  text-align: left;
  padding-right: 1rem;
  padding-left: 1rem;
}

.podcast-sidebar .footer .description {
  font-size: var(--font-size-default);
  font-weight: bold;
}
