.episode-detail {
  margin-top: 32px;
}

.podcast-audio .card {
  padding: 2rem;
}

.podcast-audio .title {
  text-align: left;
}

.podcast-audio .episode-detail .body {
  padding: 0 3rem;
}

.episode-detail audio {
  width: 100%;
}
